.about-section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.upper-section__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.upper-section__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.upper-section__icon-wrapper {
  background-color: #f5f4fa;
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 4px;
}

.down-section {
  display: flex;
  justify-content: space-between;
}

.down-section__item {
  position: relative;
}

.down-section__desc {
  position: absolute;
  left: 0;
  bottom: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  padding: 27px 0;
  width: 100%;
}

.work-section {
  display: none;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    display: block;
  }
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-top: 10px;
}
