.footer {
  background-color: #2f303a;
  padding: 60px 15px;
}

.footer__adresswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    align-items: start;
    text-align: left;
  }
}

.footer__container {
  margin-bottom: -60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: start;
  }
}

.footer__socialwrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    align-items: start;
  }
}

.footer__tagline {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-top: 7px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.footer__list {
  margin-top: 20px;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__logo {
  color: #fff;
}

.footer__list {
  margin-top: 20px;
}

.footer__list--item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    margin-left: auto;
    align-items: start;
    margin-top: 12px;
  }
}

.footer__form {
  margin-top: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: auto;
    flex-direction: row;
  }
}

.footer__email {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__btn {
}

.footer__social {
  margin-top: 20px;

  .social__link-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social__icon {
    fill: #fff;
  }
}
